flows/webservice_json_mongodb.json
[{"id":"c04bff86.dd5df","type":"mongodb in","z":"9f98cb6b.bcc2c8","mongodb":"ebfa9b89.21d3e8","name":"Circolari","collection":"circolari","operation":"find","x":465,"y":255.68331909179688,"wires":[["3eb096ae.692942"]]},{"id":"3c44ae52.57e49a","type":"inject","z":"9f98cb6b.bcc2c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.88333129882812,"y":195.88333129882812,"wires":[["fd9d2b7d.82c6f"]]},{"id":"4f7802a3.480e24","type":"debug","z":"9f98cb6b.bcc2c8","name":"","active":true,"console":"false","complete":"false","x":756.88330078125,"y":180.88333129882812,"wires":[]},{"id":"fd9d2b7d.82c6f","type":"function","z":"9f98cb6b.bcc2c8","name":"criteri ricerca DB","func":"msg.limit=0;\nmsg.skip=0;\nreturn msg;","outputs":1,"noerr":0,"x":285.8833312988281,"y":223.88333129882812,"wires":[["c04bff86.dd5df"]]},{"id":"3eb096ae.692942","type":"json","z":"9f98cb6b.bcc2c8","name":"","x":606.88330078125,"y":215.88333129882812,"wires":[["4f7802a3.480e24","d41633f9.e35dd"]]},{"id":"8e988566.ba48f8","type":"http in","z":"9f98cb6b.bcc2c8","name":"GET circolari","url":"/totem3p/circolari","method":"get","swaggerDoc":"","x":92.88333129882812,"y":251.88333129882812,"wires":[["fd9d2b7d.82c6f"]]},{"id":"7221b65b.d47de","type":"http response","z":"9f98cb6b.bcc2c8","name":"","x":860.88330078125,"y":249.88333129882812,"wires":[]},{"id":"d41633f9.e35dd","type":"template","z":"9f98cb6b.bcc2c8","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"{{{payload}}}","x":735.88330078125,"y":249.88333129882812,"wires":[["7221b65b.d47de"]]},{"id":"3f19e857.506b18","type":"comment","z":"9f98cb6b.bcc2c8","name":"WebService JSON con dati da MongoDB","info":"Descrizione\n-----------\nRealizzazione di un semplice webservice che estrae i dati da un DB MongoDB (che può essere sullo stesso sistema o in rete) e li restituisce in formato JSON.\nCome esempio vengono estratti i dati relativi ad una serie di circolari emesse, per poterle poi presentare su Totem Informativi.\n\nWebService\n----------\nIl webservice risponde al seguente URL: `/totem3p/circolari`\n\nDatabase\n--------\nI dati vengono estratti dalla collection `circolari`.\n\nI criteri di ricerca della query sono passati al nodo MongoDB dalla funzione che lo precede","x":185,"y":147,"wires":[]},{"id":"ebfa9b89.21d3e8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"totem3p","name":""}]

